.gs-button {
  background: $gs-btn-bg;
  color: $color-white;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 5px;
  text-decoration: none;
  transition: all .2s;

  &:hover {
    background: $gs-btn-hover-bg;
    color: $color-white;
    text-decoration: none;
  }
}

.btn-purple {
  color: $color-primary;
  background-color: $color-white;
  border-color: $color-primary;
  transition: all .2s;
  font-weight: 600;

  &:hover {
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.btn-red {
  color: $color-white;
  background-color: $color-secondary;
  border-color: $color-secondary;
  transition: all .2s;
  font-weight: 600;

  &:hover {
    color: $color-white;
    background-color: darken($color-secondary, 10%);
    border-color: darken($color-secondary, 10%);
  }
}

.featured-item-button {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 130px;
  color: $color-secondary;
  border: 1px solid $color-secondary;
  background-color: $color-white;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  line-height: 35px;

  @media (min-width: 990px) {
    line-height: 40px;
  }

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-secondary;
    text-decoration: none;
    outline: 0;
  }
}
